# channels
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_from_botfather

# LLM provider API Key
ANTHROPIC_API_KEY=your_anthropic_api_key
# OPENAI_API_KEY=your_openai_api_key
# GOOGLE_API_KEY=your_google_api_key
# MOONSHOT_API_KEY=your_moonshot_api_key
# QWEN_API_KEY=your_qwen_api_key
# GLM_API_KEY=your_glm_api_key
# MINIMAX_API_KEY=your_minimax_api_key
# ...

# Agent settings
AGENT_NAME=MyAgent
MODEL=your_model_name  # e.g. claude-sonnet4 /gpt-5.4/ kimi-k2.5 / qwen-plus / mini-max-3 / ...